@media only screen {
  .s.esg {
    position: relative;
    z-index: 1;
    background: var(--ground-dark);
    padding: 4rem 2rem;
    margin: 0 -2rem 0 -2rem;
    color: var(--ground);
  }
  .s.esg > div:nth-child(1) {
    margin-bottom: 3rem;
  }
  .s.esg > div:nth-child(2) > div:not(:last-child) {
    margin-bottom: 5rem;
  }
  .c.esg.heading h2 {
    color: var(--accent);
  }
  .c.esg.text p {
    font-size: 2rem;
    margin-top: 0;
  }
  .c.esg.graphic figcaption {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0 2rem;
  }
  .c.esg.actions {
    margin-top: 4rem;
  }
  .c.esg.quote q {
    font-size: 3rem;
    display: block;
    position: relative;
    padding: 10rem 0;
    quotes: "“" "”" "‘" "’";
    font-style: italic;
    color: var(--ground);
  }
  .c.esg.quote q::before {
    content: open-quote;
    height: 6rem;
    font-size: 25rem;
    line-height: 0.75;
    position: absolute;
    top: 0;
    left: -1rem;
    font-style: normal;
    color: var(--accent);
  }
  .c.esg.quote q::after {
    content: close-quote;
    height: 6rem;
    font-size: 25rem;
    line-height: 0.75;
    position: absolute;
    right: 0;
    bottom: 0;
    font-style: normal;
    color: var(--accent);
  }
}

@media only screen and (min-width: 600px) {
  .s.esg {
    padding: 4rem;
    margin: 0 -4rem 0 -4rem;
  }
  .c.esg.quote q {
    padding: 4rem 8rem 4rem 10rem;
  }
}

@media only screen and (min-width: 800px) {
  .s.esg > div:nth-child(2) > div:not(:last-child) {
    margin-bottom: 0;
  }
  .s.esg > div {
    display: flex;
    flex-direction: row-reverse;
  }
  .s.esg > div > div {
    flex-basis: 50%;
  }
  .c.esg.quote {
    padding-right: 4rem;
  }
  .c.esg.quote q {
    font-size: 3rem;
    padding: 10rem 3rem;
  }
}

@media only screen and (min-width: 1040px) {
  .s.esg {
    padding: 10rem calc(50vw - 50%);
    margin: 0 calc(50% - 50vw);
    background: var(--ground-dark);
  }
  .c.esg.graphic img {
    width: 80%;
    position: relative;
    left: -3rem;
  }
  .c.esg.quote {
    margin-left: -2rem;
    padding-right: 4rem;
  }
}
